{
    "BITG": {
        "Title": "BitcoinGreen",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9335) }}",
        "p2pPort": "{{ p2pPort|default(9334) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 38,
        "ScriptPrefix": 6,
        "SecretPrefix": 46,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
