{
    "BTC": {
        "Title": "Bitcoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": 8332,
        "p2pPort": 8333,
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 0,
        "ScriptPrefix": 5,
        "SecretPrefix": 128,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": false,
        "MinTxFee": 0,
        "BlockTime": 600,
        "TxVersion": 2,
        "FeePerByte": 30,
        "Confirmations": 0
        }
}
