{
    "COLX": {
        "Title": "ColossusCoinXT",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(51573) }}",
        "p2pPort": "{{ p2pPort|default(51572) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 30,
        "ScriptPrefix": 13,
        "SecretPrefix": 212,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 12000000,
        "Confirmations": 0
    }
}
