{
    "CRAVE": {
        "Title": "Crave",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(48883) }}",
        "p2pPort": "{{ p2pPort|default(48882) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 70,
        "ScriptPrefix": 85,
        "SecretPrefix": 153,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
