{
    "CRC": {
        "Title": "CrowdCoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(12876) }}",
        "p2pPort": "{{ p2pPort|default(12875) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 28,
        "ScriptPrefix": 88,
        "SecretPrefix": 0,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 120,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
