{
    "DASH": {
        "Title": "Dash",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9998) }}",
        "p2pPort": "{{ p2pPort|default(9999) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 76,
        "ScriptPrefix": 16,
        "SecretPrefix": 204,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 150,
        "TxVersion": 1,
        "FeePerByte": 100,
        "Confirmations": 0
    }
}