{
    "DGB": {
        "Title": "Digibyte",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(14022) }}",
        "p2pPort": "{{ p2pPort|default(12024) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 30,
        "ScriptPrefix": 5,
        "SecretPrefix": 128,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 15,
        "TxVersion": 1,
        "FeePerByte": 200,
        "Confirmations": 0
    }
}
