{
    "DOGE": {
        "Title": "Dogecoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(22555) }}",
        "p2pPort": "{{ p2pPort|default(22556) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 30,
        "ScriptPrefix": 22,
        "SecretPrefix": 158,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 300000,
        "Confirmations": 0
    }
}