{
    "EMC2": {
        "Title": "Einsteinium",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(41879) }}",
        "p2pPort": "{{ p2pPort|default(41878) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 33,
        "ScriptPrefix": 55,
        "SecretPrefix": 176,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 1200,
        "Confirmations": 0
    }
}
