{
    "FLO": {
        "Title": "Florincoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(7313) }}",
        "p2pPort": "{{ p2pPort|default(7312) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 35,
        "ScriptPrefix": 94,
        "SecretPrefix": 163,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 40,
        "TxVersion": 1,
        "FeePerByte": 250,
        "Confirmations": 0
    }
}
