{
    "IOP": {
        "Title": "InternetofPeople",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8337) }}",
        "p2pPort": "{{ p2pPort|default(4877) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 117,
        "ScriptPrefix": 174,
        "SecretPrefix": 49,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 120,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
