{
    "KLK": {
        "Title": "Kalkulus",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(51122) }}",
        "p2pPort": "{{ p2pPort|default(51121) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 46,
        "ScriptPrefix": 13,
        "SecretPrefix": 174,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
