{
    "LTC": {
        "Title": "Litecoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": 9332,
        "p2pPort": 9333,
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 48,
        "ScriptPrefix": 5,
        "SecretPrefix": 176,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 150,
        "TxVersion": 1,
        "FeePerByte": 200,
        "Confirmations": 0
        }
}
