{
    "MNX": {
        "Title": "Minexcoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(17786) }}",
        "p2pPort": "{{ p2pPort|default(8335) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 75,
        "ScriptPrefix": 5,
        "SecretPrefix": 128,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 180,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
