{
    "MONA": {
        "Title": "Monacoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": 9402,
        "p2pPort": 9401,
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 50,
        "ScriptPrefix": 55,
        "SecretPrefix": 176,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 90,
        "TxVersion": 1,
        "FeePerByte": 400,
        "Confirmations": 0
        }
}
