{
    "NMC": {
        "Title": "Namecoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8336) }}",
        "p2pPort": "{{ p2pPort|default(8334) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 52,
        "ScriptPrefix": 13,
        "SecretPrefix": 180,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 600,
        "TxVersion": 1,
        "FeePerByte": 230,
        "Confirmations": 0
    }
}