{
    "QTUM": {
        "Title": "Qtum",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(3889) }}",
        "p2pPort": "{{ p2pPort|default(3888) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 58,
        "ScriptPrefix": 50,
        "SecretPrefix": 128,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 150,
        "TxVersion": 1,
        "FeePerByte": 660,
        "Confirmations": 0
    }
}