{
    "SEND": {
        "Title": "SocialSend",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(50051) }}",
        "p2pPort": "{{ p2pPort|default(50050) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 63,
        "ScriptPrefix": 13,
        "SecretPrefix": 212,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 30,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
