{
    "SUCR": {
        "Title": "Sucre",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9339) }}",
        "p2pPort": "{{ p2pPort|default(9338) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 63,
        "ScriptPrefix": 125,
        "SecretPrefix": 9,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 150,
        "TxVersion": 1,
        "FeePerByte": 2500,
        "Confirmations": 0
    }
}
