{
    "SYS": {
        "Title": "Syscoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8370) }}",
        "p2pPort": "{{ p2pPort|default(8369) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 0,
        "ScriptPrefix": 5,
        "SecretPrefix": 128,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "SYS",
        "GetNewKeySupported": false,
        "ImportWithNoScanSupported": false,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 210,
        "Confirmations": 0
    }
}