[{{ blockchain }}]
Title={{ val["Title"] }}
Address={{ val["Address"] }}
Ip={{ val["Ip"] }}
Port={{ val["rpcPort"]}}
Username={{ val["Username"] }}
Password={{ val["Password"] }}
AddressPrefix={{ val["AddressPrefix"] }}
ScriptPrefix={{ val["ScriptPrefix"] }}
SecretPrefix={{ val["SecretPrefix"] }}
COIN={{ val["COIN"] }}
MinimumAmount={{ val["MinimumAmount"] }}
DustAmount={{ val["DustAmount"] }}
CreateTxMethod={{ val["CreateTxMethod"] }}
GetNewKeySupported={{ val["GetNewKeySupported"] }}
ImportWithNoScanSupported={{ val["ImportWithNoScanSupported"] }}
MinTxFee={{ val["MinTxFee"] }}
BlockTime={{ val["BlockTime"] }}
TxVersion={{ val["TxVersion"] }}
FeePerByte={{ val["FeePerByte"] }}
Confirmations={{ val["Confirmations"] }}
