{
    "XC": {
        "Title": "XCurrency",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": 14332,
        "p2pPort": 14333,
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 75,
        "ScriptPrefix": 8,
        "SecretPrefix": 203,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 20,
        "Confirmations": 0
        }
}
