{
    "XMY": {
        "Title": "Myriad",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(10889) }}",
        "p2pPort": "{{ p2pPort|default(10888) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 50,
        "ScriptPrefix": 9,
        "SecretPrefix": 178,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
