{
    "XSN": {
        "Title": "StakeNet",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(62584) }}",
        "p2pPort": "{{ p2pPort|default(62583) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 76,
        "ScriptPrefix": 16,
        "SecretPrefix": 204,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 60,
        "TxVersion": 1,
        "FeePerByte": 45,
        "Confirmations": 0
    }
}
