{
    "XZC": {
        "Title": "ZCoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8888) }}",
        "p2pPort": "{{ p2pPort|default(8168) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 82,
        "ScriptPrefix": 7,
        "SecretPrefix": 210,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 600,
        "TxVersion": 1,
        "FeePerByte": 210,
        "Confirmations": 0
    }
}
