{
    "ZOI": {
        "Title": "Zoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8822) }}",
        "p2pPort": "{{ p2pPort|default(8255) }}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": 80,
        "ScriptPrefix": 7,
        "SecretPrefix": 208,
        "COIN": 100000000,
        "MinimumAmount": 0,
        "DustAmount": 0,
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": true,
        "ImportWithNoScanSupported": true,
        "MinTxFee": 0,
        "BlockTime": 150,
        "TxVersion": 1,
        "FeePerByte": 210,
        "Confirmations": 0
    }
}
